.skor {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*Kundvagnen*/
.kundvagn-container {
	position: relative;
	display: inline-block;
}

#kundvagn-meny {
	display: none;
	z-index: 5;
	position: absolute;
	background-color: aliceblue;
	right: 0;
}