#butikssida {
	
}

.skor {
	border: 2px black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.betalning-sida {
	margin: 10vw;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.checka-ut-lista {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.betalning-bild {
	width: 10vw;
}

/*Kundvagnen*/
.kundvagn-container {
	position: relative;
	display: inline-block;
}

#kundvagn-meny {
	display: none;
	z-index: 5;
	position: absolute;
	background-color: rgb(204, 207, 209);
	font-size: 0.5em;
	min-width: 15rem;
	right: 0;
}