#butikssida {
	margin: auto;
	max-width: 1440px;
}

.skor {
	margin-top: 8vw;
	border: 2px black;
    display: grid;
}

.sko-produkter {
	margin: auto;
	padding: 5%
}

.butik-bild {
	width: 100%;
}
.material-symbols-outlined span{
	font-size: 28px;
    font-weight: 600;
	cursor: pointer;
}

.menylinks{
	margin-left: 5rem;
}

@media only screen and (max-width: 600px) {
	.skor {
		grid-template-columns: repeat(1, 1fr);
	}
	.betalning-sida {
		margin-top: 30vw;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	.betalning-sida > div {
		margin: auto;
	}
	.menylinks{
		display: none;
	}
}

@media only screen and (min-width: 600px) {
	.skor {
		grid-template-columns: repeat(2, 1fr);
	}
	.betalning-sida {
	margin-top: 24vw;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (min-width: 768px) {
	.skor {
		grid-template-columns: repeat(3, 1fr);
	}
	.betalning-sida {
		margin-top: 14vw;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (min-width: 992px) {
	.skor {
		grid-template-columns: repeat(4, 1fr);
	}
	.betalning-sida {
		margin-top: 12vw;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (min-width: 1200px) {
	.skor {
		grid-template-columns: repeat(4, 1fr);
	}
	.betalning-sida {
		margin-top: 8vw;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

.checka-ut-lista {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.betalning-bild {
	width: 50%;
	margin: auto;
}

.betalning-summa {
	font-size: larger;
}

.betalning-summa-text {
	margin-top: 4vw;
}

/*Kundvagnen*/
.kundvagn-container {
	position: relative;
	display: inline-block;
}

#kundvagn-meny {
	display: none;
	z-index: 5;
	position: absolute;
	background-color: rgb(204, 207, 209);
	font-size: 0.5em;
	min-width: 15rem;
	max-height: 20rem;
	right: 0;
	cursor: default;
	overflow: auto;
}