/*STARTSIDA*/
body {
	margin: 0;
	background-color: white;
	overflow-x: hidden;
}

.navbar {
	width: 100%;
    height: auto;
	padding: 0;
	display: flex;
	align-items: center;
	background: black;
    border-bottom: solid white;
	justify-content: space-between;
	z-index: 3;
	position: fixed;
	top: 0;
}
.navlista{
	margin-left:-10rem;
}
.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	text-align: center;
}

.navbar ul li a {
	text-transform: uppercase;
	font-weight:600;
	font-size: small;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	text-decoration: none;
}

.navbar ul li::after {
	content: "";
	height: 3px;
	width: 0;
	background: white;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navbar ul li:hover::after {
	width: 100%;
}
.navicons span{
    font-size: 28px;
    font-weight: 600;
	cursor: pointer;
}
.material-symbols-outlined{
	margin: 0.4rem;
	transition: transform .2s;
	color: white;
}
.material-symbols-outlined:hover{
	transform:scale(1.2);
}
#hameny{
	display: none;
}

#logo {
	color: white;
    cursor: pointer;
	margin-left: 1rem;
	font-size: x-large;
}

#logo a{
	text-decoration: none;
	color: white;
}

#logo em{
	color:white
}

.bakgrundsbild img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
#news{
	margin-top: 10rem;
	text-align: center;
	font-weight: 600;
	font-size: x-large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#rubrikcontentbilder{
	margin-top: 8rem;
	margin-bottom: 0;
	text-align: center;
	font-size: 350%;
	font-weight: bolder;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#paragrafcontentbilder{
	text-align: center;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.columns p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 500;
}

.contentbilder{
	display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr 1fr;
}
.columns{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    text-align: center;	
}
.contentbilder img {
	cursor: pointer;
	width: 80%;
	height: 100%;
	border-radius: 0.5rem;   
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.contentbilder img:hover{
	transform:scale(1.1);
}

.footer-medlem{
	margin-top: 10rem;
	height: 10rem;
	background-color: lightgrey;
	margin-left: 8%;
	margin-right: 8%;
}
.footer-medlem p{
	float: left;
    color: black;
	margin-left: 5%;
	margin-top: 4rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: xx-large;
	font-weight:bolder;
}

.medlemsknapp{
	float: right;
	margin-right: 5%;
	margin-top: 4rem;
	border-radius: 1em;
	background-color: black;
	color: white;
	border-color: black;
	font-size: x-large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	font-weight:500;
	padding: 0.5%;
	cursor: pointer;
	
}

.medlemsknapp:hover{
	color: white;
	background-color: black;
	border-color: black;
	transform:scale(1.1);

}

.footer-nav{
	background-color: black;
	height: 18rem;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 0;
	margin: 0;
	padding: 1rem;
	justify-items: center;
	
}

.kolumner-items{
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	
}
.kolumner-items h3{
	font-size: x-large;
}

.kolumner-items ul li{
	list-style: none;
	margin-top: 1rem;
	cursor: pointer;
}
.kolumner-items ul li a{
	text-decoration: none;
	color: white;
}

.hovertext:hover{
	transform:scale(1.03);
}
.kolumner-logos{
	color: white;
	margin: 1rem;
	font-size:xx-large	
}

/* STARTSIDA SLUT*/


/* om oss design*/
.vi img{
	width: 15.625em;
	margin-left: -3.125em;
	margin-top:1.5625em;
}
.text
{
	width: 3.125em;
	padding-bottom:15.625em;
	
}
.nav-main
{
	width:100%;
}
.nav-main .omOssRubrik
{
	margin:auto;
	
}
.omOssRubrik
{
	font-size:1.25em;
}
.vi
{
	display:flex;
	flex-wrap: wrap;
}
li img{
	list-style:none;
	line-height: 3.75em;
    display:flex;
	height: 12.5em;
    color: #111;
    font-family:arial;
    font-size:1em;
}



/*Bildspel*/
#bildspel {
    width: 70vw;
    height: 70vh;
    position: relative;
	margin-left: auto;
	margin-right: auto;
}

.slide {
	position: absolute;
	inset: 0;
	opacity: 0;
}

.slide > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: 100%;
	cursor: pointer;
}

.slide[data-active] {
	opacity: 1
}

.bildspel-knapp {
    position: absolute;
    z-index: 2;
    top:50%;
}

.bildspel-knapp.next {
    right: 1rem;
	cursor: pointer;
}

.bildspel-knapp.prev {
    left: 1rem;
	cursor: pointer;
}

#bildspel-lista{
	list-style: none;
	
}

ul li p {
	text-align: center;
}
/*SlutBildspel*/

.mobil-toggle{
	background: transparent;
	border: 0;
	
}
@media only screen and (max-width: 768px){
	.navlista{
		display: none;
		background-color: black;
		inset: 4.7rem 0rem auto;
		margin-left: 0;
		
	}
	.menylinks{
		display: grid;
		gap: 2rem;
		padding: 0;
	}	

	.navbar ul li:hover::after {
		width: 0;
	}
	#hameny{
		display: inline;
	}

	#rubrikcontentbilder{
		font-size: x-large;
	}

	.contentbilder{
		display: inline-block;
		margin: 1rem;
	}
	.columns{
		margin-top: 10%;
		font-size: large;
	}

	.columns img{
		width: 90%
	}
	
    #news{
		margin-top: 20%;
	}
	.material-symbols-outlined{
		margin: 0.4rem;
		color: white;
	}
	.material-symbols-outlined:hover{
		transform:scale(1);
	}
	.slide > img {
		height: 15rem;
		width: 100%;
	}
	#bildspel{
		height: 8rem;
	}
	.bildspel-knapp{
		margin-top: 18%;
	}
	.bildspel-knapp.next {
		right: 0;
	}
	.bildspel-knapp.prev{
		left: 0;
	}

	.footer-medlem{
		height: 8rem;
		margin-top: 50%;
	}
	.footer-medlem p{
		font-size: large;
		text-align: center;
	}
	.medlemsknapp{
		font-size: large;
		text-align: center;
	}
	.footer-nav{
		display:inline-block;
		height:auto
	}
	.kolumner-items{
		font-size: small;
	}
	.kolumner-items h3{
		font-size: medium;
	}
	.kolumner-logos{
		text-align: center;
	}

	.opened{
		display: block;
		position: fixed;
	
	}
	

	
}


	