.skillBar {
    height: 100%;
    background-color: rgb(155, 102, 78);
    border-radius: 1rem;
    
}

.skillBarContainer {
    width: 200px;
    height: 25px;
    background-color: rgb(192, 190, 190);
    border-radius: 1rem;
}
