
body {
	margin: 0;
	background-color: white;
	overflow-x: hidden;
}

.navbar {
	width: 100%;
    height: auto;
	padding: 0;
	display: flex;
	align-items: center;
	background: rgb(170,170,170);
    background: linear-gradient(90deg, rgba(170,170,170,1) 0%, rgba(226,226,226,1) 50%, rgba(170,170,170,1) 100%);
    border-bottom: solid black;
	justify-content: space-between;
	position: fixed;

}
.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a {
	text-transform: uppercase;
	font-weight:600;
	font-size: small;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
	text-decoration: none;
}

.navbar ul li::after {
	content: "";
	height: 3px;
	width: 0;
	background: black;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navbar ul li:hover::after {
	width: 100%;
}
.navicons span{
    font-size: 28px;
    font-weight: 600;
	cursor: pointer;
}
.material-symbols-outlined{
	margin: 0.4rem;
	transition: transform .2s;
}
.material-symbols-outlined:hover{
	transform:scale(1.2);
}
.navicons-items{
	text-align: right;
}

#logo {
	color: black;
    cursor: pointer;
	margin-left: 1rem;
	font-size: x-large;
}

#logo em{
	color:red
}

.bakgrundsbild img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
	
}

.columns{
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: 1rem;
    text-align: center;
    
}
.contentbilder img {
	width: 50%;
    
    
}


/* om oss design*/
.vi img{
	width: 15.625em;
	margin-left: -3.125em;
	margin-top:1.5625em;
}
.text
{
	width: 3.125em;
	padding-bottom:15.625em;
	
}
.nav-main
{
	width:100%;
	
}
.nav-main .omOssRubrik
{
	margin:auto;
	
}
.omOssRubrik
{
    
	font-size: 1.875em;
}
.om-oss-text
{
	font-size:1.25em;
}
.vi
{
	display:flex;
	flex-wrap: wrap;

}
li img{
	list-style:none;
	line-height: 3.75em;
	padding: left 3.125em;;
    display:flex;
	height: 12.5em;
    color: #111;
    font-family:arial;
    font-size:1em;
	
}


/*Style för formulär*/
.contact-us
{
	background-color: rgba(0, 128, 0, 0.308);
	color:white;
	font-size:1.25em;
	padding: 2.5em;;
}
#form {
	margin:0;
	background-color: grey;
}
.form-group{
	padding: 2.5em;
	width: 6.25em;
}
#form label{
	display:block;
	font-size:1.25em;
	margin-bottom:0.625em;
}
.form-group, input, textarea
{
	width:20em;
	padding:0.625em;
	font-size: 1em;
	margin-bottom:0.5em;
}
input, textarea
{
	border-radius: 0.3125em;
	border:none;
}

.check-circle
{
	visibility: hidde;
}

hr
{
	height: 0.125;
	width: 21.25em;;
	background-color:rgba(0, 128, 0, 0.308);
	border:none;
	margin-bottom:1.25em;
	margin:1.875em;
}

button
{
	padding:0,625em;
	font-size:1.25em;
	background: none;
	border:2px solid rgba(0, 128, 0, 0.308);
	border-radius: 0.625;
	transition: all 0.5s;
	cursor: pointer;
}
button:hover
{
	background-color:rgba(0, 128, 0, 0.308);
	border:black;
	color:white;
}


.check-circle, .exclamation-circle
{
	color:green;
	display:inline;
}



/*Bildspel*/
#bildspel {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slide {
	position: absolute;
	inset: 0;
	opacity: 0;
}

.slide > img {
	display: block;
	width: 20%;
	height: 40%; 
}

.slide[data-active] {
	opacity: 1
}

.bildspel-knapp {
    position: absolute;
    z-index: 2;
    top:50%;
}

.bildspel-knapp.next {
    right: 1rem;
}

.bildspel-knapp.prev {
    left: 1rem;
}
/*SlutBildspel*/
