body {
	margin: 0;
	background-color: white;
}

.navbar {
	width: 100%;
    height: auto;
	padding: 0;
	display: flex;
	align-items: center;
	background-color: whitesmoke;
    border-bottom: solid black;
	justify-content: space-between;

}
.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a {
	text-transform: uppercase;
	font-weight:600;
	font-size: small;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
	text-decoration: none;
}

.navbar ul li::after {
	content: "";
	height: 3px;
	width: 0;
	background: black;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navbar ul li:hover::after {
	width: 100%;
}
.navicons span{
    font-size: 28px;
    font-weight: 600;
	cursor: pointer;
}
.material-symbols-outlined{
	margin: 0.4rem;
}

.navicons-items{
	text-align: right;
}

#logo {
	width: 4%;
	color: white;
    cursor: pointer;
}

.bakgrundsbild img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
	
}

.columns{
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: 1rem;
    text-align: center;
    
}
.contentbilder img {
	width: 50%;
    
    
}


/* om oss design*/
.vi img{
	width: 250px;
	margin-left: -50px;
	margin-top:25px;
}
.text
{
	width: 250px;
	padding-bottom:25px;
	
}
.nav-main
{
	width:100%;
	
}
.nav-main .omOssRubrik
{
	margin:auto;
	
}


.omOssRubrik
{
    
	font-size: 30px;
}
.om-oss-text
{
	font-size:20px;
}
.vi
{
	
	
	display:flex;
	flex-wrap: wrap;

}
li img{
	list-style:none;
	line-height:60px;
	padding-left:50px;
    display:flex;
	height: 200px;
    color: #111;
    font-family:arial;
    font-size:16px;
	
}

/*Bildspel*/
.bildspel {
    width: 100vw;
    height: 100vh;
    position: relative
}

.slide {
	position: absolute;
	inset: 0;
	opacity: 0;
}

.slide > img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
    object-position: center;
}

.slide[data-active] {
	opacity: 1
}

.bildspel-knapp {
    position: absolute;
    z-index: 2;
    top:50%;
}

.bildspel-knapp.next {
    right: 1rem;
}

.bildspel-knapp.prev {
    left: 1rem;
}
/*SlutBildspel*/
